.Email_holder ::placeholder{
    color: var(--darkAccent);
    font-size: 0.9vw;
    font-weight: 600;
}
.newsletter{
    width: 60vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vw 4vw;
    border-radius: 1rem;
    margin: 2.5vw auto;
    background-color: var(--darkAccent);
}
.newsletter h1{
    color: var(--lightText);
    font-size: 1.5vw;
    text-transform: capitalize;
  font-family: "AMORIA", sans-serif;
  font-weight: 200;
}
.newsletter p{
    color: var(--lightText);
    font-size: 0.8vw;
    margin-bottom: 2.5vw;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lightText);
    color: var(--darkAccent);
    width: 25vw;
    height: 2vw;
    border-radius: 3rem;
    border: none;
}
.newsletter input{
    color: var(--darkAccent);
    background-color: var(--lightText);
    margin-left: 2vw;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 0.9vw;
}
.newsletter div button{
    border-radius: 3rem;
    padding: 0.47vw 1.5vw;
    border: none;
    outline: none;
    background-color: var(--darkShades);
    color: white;
    font-size: 0.9vw;
    cursor: pointer;
}
@media screen and (max-width:426px){
    .Email_holder ::placeholder{
        font-size: 2vw;
    }
    .newsletter{
        width: 75vw;
        height: 35vw;
    }
    .newsletter h1{
        font-size: 3.8vw;
        margin-bottom: 0.5vw;
    }
    .newsletter p{
        font-size: 2vw;
    }
    .newsletter div{
        width: 45vw;
        height: 6vw;
        margin-top: 2vw;
    }
    .newsletter input{
        font-weight: 600;
        font-size: 2vw;
    }
    .newsletter div button{
        border-radius: 3rem;
        padding: 2vw 3vw;
        font-size: 2vw;
    }
}