
.loginsignup{
    padding-top: 4vw;
    display: flex;
    justify-content: center;
}
.loginsignup-container{
    background: var(--mainBrandColor);
    width: 30vw;
    padding: 2vw 1vw;
    border-radius: 1rem;
    color: var(--darkShades);
}
.loginsignup-container h1{
    padding: 1vw 1vw;
    font-size: 2.3vw;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.loginsignup-fields input{
    padding: 1vw 1.4vw;
    margin: 0vw 1vw;
    border-radius: 3rem;
    background-color: transparent;
    border: 3px solid var(--darkShades);
    outline: none;
    font-weight: 600;
    color: var(--darkText);
    font-size: 1vw;
}
.loginsignup-container button{
    color: var(--lightText);
    background: var(--darkShades);
    border: none;
    margin: 0.5vw 4vw;
    padding: 0.8vw 0vw;
    font-size: 1.7vw;
    border-radius: 3rem;
    font-weight: 500;
    cursor: pointer;
}
.account_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginsignup-login{
    margin-top: 1.8vw;
    color: var(--signUp);
    font-size: 1vw;
    font-weight: 600;
}
.loginsignup-login span{
    color: var(--darkAccent);
    font-weight: 700;
}
.loginsignup-agree{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 0.5vw;
    gap: 1vw;
    color: var(--signUp);
    font-size: 0.9vw;
    font-weight: 500;
}