.descriptionbox {
  margin: 2.8vw 9.5vw;
}
.descriptionbox-navigator {
  display: flex;
}
.descriptionbox-nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-weight: 600;
  width: 7vw;
  height: 3vw;
  border: 2px solid var(--lightText);
}
.descriptionbox-nav-box.fade {
  background-color: var(--lightText);
  color: var(--darkText);
}
.descriptionbox-description {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  border: 2px solid var(--lightText);
  padding: 2.5vw;
  font-size: 0.8vw;
}
@media screen and (max-width: 426px) {
  .descriptionbox {
    margin: 2vw 12vw;
  }
  .descriptionbox-nav-box {
    font-size: 1.8vw;
    width: 15vw;
    height: 5vw;
    border: 2px solid var(--lightText);
  }
  .descriptionbox-description {
    gap: 2vw;
    border: 2px solid var(--lightText);
    padding: 2.5vw;
    font-size: 1.2vw;
    text-align: justify;
  }
}
