.descriptionbox{
    margin: 2.8vw 9.5vw;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    font-weight: 600;
    width: 7vw;
    height: 3vw;
    border: 2px solid var(--lightText);
}
.descriptionbox-nav-box.fade{
    background-color: var(--lightText);
    color: var(--darkText);
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    border: 2px solid var(--lightText);
    padding: 2.5vw;
    font-size: 0.8vw;
}