
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 0.6vw;
    text-transform: capitalize;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo img{
    width: 4vw;
}
.nav-logo p{
    color: var(--lightText);
    font-size: 1.2vw;
    font-weight: 600;
}
.nav-logo span{
    color: var(--mainBrandColor);
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4vw;
    color: var(--lightText);
    font-size: 1.2vw;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: var(--mainBrandColor);
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.nav-login-cart button{
    padding: 0.8vw 2vw 0.8vw 2vw  ;
    outline: none;
    border-radius: 3rem;
    color: var(--darkText);
    font-size: 1.2vw;
    font-weight: 700;
    background: var(--mainBrandColor);
    cursor: pointer;
    border: none;
}
.nav-login-cart button:hover{
    scale: 1.05;
    transition: 0.5s;
    background: transparent;
    color: var(--mainBrandColor);
    border: 2px solid var(--mainBrandColor);
}
.nav-login-cart img{
    width: 1.6vw;
}
.nav-cart-count{
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2vw 0vw 0vw -3.5vw;
    border-radius: 3rem;
    font-size: 1vw;
    background: var(--mainBrandColor);
    color: var(--darkText);
}