.Timeless_collection{
  width: 50vw;
  display: flex;
  margin: 1.5vw auto;
}
.Timeless_left{
  width: 50%;
}
.Timeless_left img{
  width: 100%;
  height: 35vw;
  object-fit: cover;
}
.Timeless_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.text_out{
  font-size: 0.8vw;
  text-align: right;
  margin-right: 1.5vw;
  margin: auto 0vw;
}
.text_out_heading{
  font-size: 1.6vw;
  font-family: "AMORIA", sans-serif;
  margin-bottom: 2vw;
}
.text_out_heading>:nth-child(2){
  font-size: 1.2vw;
  color: var(--mainBrandColor);
}
.text_out_description{
  width: 75%;
  margin: 0 0 0 auto;
}
.text_out_description>:nth-child(2){
  margin-top: 2vw;
}
.text_out_description span{
  color: var(--mainBrandColor);
}

.image_out{
  display: flex;
  justify-content: space-evenly;
}
.image_out img{
  object-fit: cover;
  height: 11vw;
  width: 7.5vw;
}
@media screen and (max-width: 426px) {
  .Timeless_collection{
    width: 75vw;
    flex-direction: row-reverse;
    margin: 3vw auto;
  }
  .Timeless_left img{
    height: 55vw;
    margin-left: 1vw;
  }
  .text_out{
    font-size: 1.3vw;
    text-align: left;
    margin-right: 1.5vw;
    margin: auto 0vw;
  }
  .text_out_heading{
    font-size: 3.2vw;
  }
  .text_out_heading>:nth-child(2){
    font-size: 2.4vw;
  }
  .text_out_description{
    margin: 0 auto 0 0;
  }
  .text_out_description>:nth-child(2){
    margin-top: 2vw;
  }
  .image_out{
    display: flex;
    justify-content: space-between;
  }
  .image_out img{
    object-fit: cover;
    height: 20vw;
    width: 12vw;
  }
}