.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5vw auto 0 auto;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo img {
  width: 4vw;
}
.footer-logo p {
  color: var(--lightText);
  font-size: 1.6vw;
  font-family: "AMORIA", sans-serif;
}
.footer-logo span {
  color: var(--mainBrandColor);
}
.footer-links {
  display: flex;
  list-style: none;
  padding: 3vw 0vw;
  width: 35vw;
  justify-content: space-around;
  color: var(--lightText);
  font-size: 0.9vw;
}
.footer-links li {
  cursor: pointer;
}
.footer-links li:hover {
  color: var(--mainBrandColor);
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}
.footer-social-icon {
  display: flex;
  width: 25vw;
  justify-content: space-around;
}
.footer-icons-container img {
  height: 1.5vw;
}
.footer-icons-container img:hover {
  scale: 1.1;
  transition: 0.5s;
}
.footer-copyright hr {
  width: 70vw;
  border: none;
  border-radius: 3rem;
  height: 0.1vw;
  background-color: var(--darkAccent);
  margin-bottom: 1vw;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1vw;
  color: var(--mainBrandColor);
  font-size: 0.8vw;
}
@media screen and (max-width: 426px) {
  .footer-logo img {
    width: 7vw;
  }
  .footer-logo p {
    font-size: 3.5vw;
  }
  .footer-links {
    flex-direction: column;
    padding: 0vw 0vw;
    width: 60vw;
    align-items: center;
    margin-top: 2vw;
    font-size: 2.5vw;
  }
  .footer-social-icon {
    margin-top: 4vw;
    width: 75vw;
  }
  .footer-icons-container img {
    height: 4.5vw;
  }
  .footer-copyright hr {
    height: 0.4vw;
    margin: 2vw 0vw;
  }
  .footer-copyright p{
    font-size: 2vw;
    padding: 2vw;
  }
}
