.breadcrumbs{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    opacity: 70%;
    color: var(--lightText);
    font-size: 0.9vw;
    font-weight: 600;
    margin: 2.8vw 9.5vw;
    text-transform: uppercase;
}
.high{
    color: var(--mainBrandColor);
    opacity: 1;
}