:root{
  --darkShades : #181b1b;
  --navBarColor : #181b1b75;
  --darkAccent : #5B3550;    /*light bright purple*/
  --mainBrandColor : #9DCECB;   /*mild brown purplr*/
  --lightAccent : #7C8E6E;   /*greyish purple*/
  --lightShades : #F2F3EF;   /*light green*/
  --lightText : #F2F3EF;   /*bluish white*/
  --darkText : #191B1B;   /*light dark green*/
  --signUp : #4b4b4b;
}
.App {
  background-color: var(--darkShades);
  color: var(--lightText);
}