.containe{
  display: flex;
  justify-content: center;
}
.Popular{
  display: flex;
  flex-direction: column;
  width: 55vw;
  margin: 1vw auto;
}
.text_cont{
  display: flex;
  justify-content: space-between;
}
.text_left{
  width: 30%;
}
.text_left>:nth-child(2){
  font-size: 1.35vw;
}
.text_left_title{
  font-size: 1.15vw;
  font-family: "AMORIA", sans-serif;
}
.text_left_bottom{
  display: flex;
  align-items: center;
  margin-top: 2vw ;
  font-size: 0.9vw;
  color: var(--mainBrandColor);
}
.text_left_bottom img{
  rotate: -90deg;
  height: 0.6vw;
  margin-left: 0.5vw;
}
.text_right{
  width: 70%;
  font-size: 0.8vw;
  text-align: right;
}
.image_cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
  margin: 1vw auto;
}
.Popular_left{
  width: 75%;
}
.Popular_left img{
  object-fit: cover;
  object-position: top;
  height: 25vw;
  width: 100%;
}
.Popular_right{
  display: flex;
  height: 25vw;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.Popular_right img{
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 12.2vw;
  padding: 0vw 1vw;
}
@media screen and (max-width: 426px){
  .containe{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Popular{
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: 1vw auto;
  }
  .text_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }
  .text_left{
    width: 100%;
  }
  .text_left>:nth-child(2){
    font-size: 3.2vw;
  }
  .text_left_title{
    font-size: 2.7vw;
    font-family: "AMORIA", sans-serif;
  }
  .text_left_bottom{
    display: flex;
    align-items: center;
    margin-top: 5vw ;
    font-size: 2.5vw;
    color: var(--mainBrandColor);
  }
  .text_left_bottom img{
    rotate: -90deg;
    height: 1vw;
    margin-left: 0.5vw;
  }
  .text_right{
    width: 90%;
    margin-top: 3vw;
    font-size: 1.5vw;
    text-align: justify;
  }
  .image_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vw auto;
  }
  .Popular_left{
    width: 100%;
  }
  .Popular_left img{
    object-fit: cover;
    object-position: top;
    height: 30vw;
    width: 100%;
  }
  .Popular_right{
    display: flex;
    height: 30vw;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .Popular_right img{
    object-fit: cover;
    object-position: top;
    width: 22.5vw;
    height: 25vw;
    padding: 0vw 0vw;
  }
}